# 数据源配置
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
#        mysql
#        driverClassName: com.mysql.cj.jdbc.Driver

#        sqlserver
        driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
        druid:
            # 主库数据源
            master:
#              mysql
#                url: jdbc:mysql://localhost:3306/ry-vue?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
#                username: root
#                password: root

#                sqlserver
                url: jdbc:sqlserver://localhost:1433;databaseName=dailytools
                username: root
                password: root
            # 从库数据源
            slave:
                # 从数据源开关/默认关闭
                enabled: false
                url: 
                username: 
                password:

            # 额外数据源配置
            extra:
              # iptfis-db-71 数据源配置
              iptfis_db_71:
                # 开关：true表示启用，false表示禁用
                enabled: false
                url: jdbc:sqlserver://IPTFIS-DB-71:1433;databaseName=master
                username: root
                password: root
                initialSize: 5
                minIdle: 10
                maxActive: 20
                maxWait: 60000
                connectTimeout: 30000
                socketTimeout: 60000
                timeBetweenEvictionRunsMillis: 60000
                minEvictableIdleTimeMillis: 300000
                maxEvictableIdleTimeMillis: 900000
                validationQuery: SELECT 'x'
                testWhileIdle: true
                testOnBorrow: false
                testOnReturn: false

              # iptfis-db-70 数据源配置
              iptfis_db_70:
                enabled: false
                url: jdbc:sqlserver://IPTFIS-DB-70:1433;databaseName=master
                username: root
                password: root
                initialSize: 5
                minIdle: 10
                maxActive: 20
                maxWait: 60000
                connectTimeout: 30000
                socketTimeout: 60000
                timeBetweenEvictionRunsMillis: 60000
                minEvictableIdleTimeMillis: 300000
                maxEvictableIdleTimeMillis: 900000
                validationQuery: SELECT 'x'
                testWhileIdle: true
                testOnBorrow: false
                testOnReturn: false

              # itefis-db-online 数据源配置
              itefis_db_online:
                enabled: false
                url: jdbc:sqlserver://ITEFIS-DB-ONLINE:1433;databaseName=master
                username: root
                password: root
                initialSize: 5
                minIdle: 10
                maxActive: 20
                maxWait: 60000
                connectTimeout: 30000
                socketTimeout: 60000
                timeBetweenEvictionRunsMillis: 60000
                minEvictableIdleTimeMillis: 300000
                maxEvictableIdleTimeMillis: 900000
                validationQuery: SELECT 'x'
                testWhileIdle: true
                testOnBorrow: false
                testOnReturn: false

            # 初始连接数
            initialSize: 5
            # 最小连接池数量
            minIdle: 10
            # 最大连接池数量
            maxActive: 20
            # 配置获取连接等待超时的时间
            maxWait: 60000
            # 配置连接超时时间
            connectTimeout: 30000
            # 配置网络超时时间
            socketTimeout: 60000
            # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
            timeBetweenEvictionRunsMillis: 60000
            # 配置一个连接在池中最小生存的时间，单位是毫秒
            minEvictableIdleTimeMillis: 300000
            # 配置一个连接在池中最大生存的时间，单位是毫秒
            maxEvictableIdleTimeMillis: 900000
            # 配置检测连接是否有效
#            mysql
#            validationQuery: SELECT 1 FROM DUAL

#            sqlserver
            validationQuery: SELECT 'x'
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            webStatFilter: 
                enabled: true
            statViewServlet:
                enabled: true
                # 设置白名单，不填则允许所有访问
                allow:
                url-pattern: /druid/*
                # 控制台管理用户名和密码
                login-username: ruoyi
                login-password: 123456
            filter:
                stat:
                    enabled: true
                    # 慢SQL记录
                    log-slow-sql: true
                    slow-sql-millis: 1000
                    merge-sql: true
                wall:
                    config:
                        multi-statement-allow: true