USE [master]
GO
/****** Object:  Database [dailytools]    Script Date: 28/11/2025 19:31:26 ******/
CREATE DATABASE [dailytools]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dailytools', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\dailytools.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dailytools_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\dailytools_log.ldf' , SIZE = 1384448KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Chinese_Taiwan_Stroke_BIN
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dailytools].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dailytools]
GO
/****** Object:  User [root]    Script Date: 28/11/2025 19:31:26 ******/
CREATE USER [root] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-MB1U8GK\aministrator]    Script Date: 28/11/2025 19:31:26 ******/
CREATE USER [DESKTOP-MB1U8GK\aministrator] FOR LOGIN [DESKTOP-MB1U8GK\aministrator] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[QRTZ_BLOB_TRIGGERS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_BLOB_TRIGGERS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[blob_data] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[trigger_name] ASC,
	[trigger_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_CALENDARS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_CALENDARS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[calendar_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[calendar] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[calendar_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_CRON_TRIGGERS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_CRON_TRIGGERS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[cron_expression] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[time_zone_id] [varchar](80) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[trigger_name] ASC,
	[trigger_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_FIRED_TRIGGERS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_FIRED_TRIGGERS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[entry_id] [varchar](95) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[instance_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[fired_time] [bigint] NOT NULL,
	[sched_time] [bigint] NOT NULL,
	[priority] [int] NOT NULL,
	[state] [varchar](16) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[job_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[is_nonconcurrent] [varchar](1) COLLATE Chinese_PRC_CI_AS NULL,
	[requests_recovery] [varchar](1) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[entry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_JOB_DETAILS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_JOB_DETAILS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[description] [nvarchar](250) COLLATE Chinese_PRC_CI_AS NULL,
	[job_class_name] [varchar](250) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[is_durable] [varchar](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[is_nonconcurrent] [varchar](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[is_update_data] [varchar](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[requests_recovery] [varchar](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_data] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[job_name] ASC,
	[job_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_LOCKS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_LOCKS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[lock_name] [varchar](40) COLLATE Chinese_PRC_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[lock_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_PAUSED_TRIGGER_GRPS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_PAUSED_TRIGGER_GRPS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[trigger_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_SCHEDULER_STATE]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_SCHEDULER_STATE](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[instance_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[last_checkin_time] [bigint] NOT NULL,
	[checkin_interval] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[instance_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_SIMPLE_TRIGGERS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_SIMPLE_TRIGGERS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[repeat_count] [bigint] NOT NULL,
	[repeat_interval] [bigint] NOT NULL,
	[times_triggered] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[trigger_name] ASC,
	[trigger_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_SIMPROP_TRIGGERS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_SIMPROP_TRIGGERS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[str_prop_1] [varchar](512) COLLATE Chinese_PRC_CI_AS NULL,
	[str_prop_2] [varchar](512) COLLATE Chinese_PRC_CI_AS NULL,
	[str_prop_3] [varchar](512) COLLATE Chinese_PRC_CI_AS NULL,
	[int_prop_1] [int] NULL,
	[int_prop_2] [int] NULL,
	[long_prop_1] [bigint] NULL,
	[long_prop_2] [bigint] NULL,
	[dec_prop_1] [numeric](13, 4) NULL,
	[dec_prop_2] [numeric](13, 4) NULL,
	[bool_prop_1] [varchar](1) COLLATE Chinese_PRC_CI_AS NULL,
	[bool_prop_2] [varchar](1) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[trigger_name] ASC,
	[trigger_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRTZ_TRIGGERS]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRTZ_TRIGGERS](
	[sched_name] [varchar](120) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_group] [varchar](200) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[description] [nvarchar](250) COLLATE Chinese_PRC_CI_AS NULL,
	[next_fire_time] [bigint] NULL,
	[prev_fire_time] [bigint] NULL,
	[priority] [int] NULL,
	[trigger_state] [varchar](16) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[trigger_type] [varchar](8) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[start_time] [bigint] NOT NULL,
	[end_time] [bigint] NULL,
	[calendar_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[misfire_instr] [smallint] NULL,
	[job_data] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[sched_name] ASC,
	[trigger_name] ASC,
	[trigger_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gen_table]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gen_table](
	[table_id] [bigint] IDENTITY(1,1) NOT NULL,
	[table_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[table_comment] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[sub_table_name] [varchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[sub_table_fk_name] [varchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[class_name] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[tpl_category] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[tpl_web_type] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[package_name] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[module_name] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[business_name] [varchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[function_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[function_author] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[gen_type] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[gen_path] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[options] [varchar](1000) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gen_table_column]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gen_table_column](
	[column_id] [bigint] IDENTITY(1,1) NOT NULL,
	[table_id] [bigint] NULL,
	[column_name] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[column_comment] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[column_type] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[java_type] [varchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[java_field] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[is_pk] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[is_increment] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[is_required] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[is_insert] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[is_edit] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[is_list] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[is_query] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[query_type] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[html_type] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[dict_type] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[sort] [int] NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[column_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[string_tool_temp]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[string_tool_temp](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[data] [nvarchar](100) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_config]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_config](
	[config_id] [int] IDENTITY(100,1) NOT NULL,
	[config_name] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[config_key] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[config_value] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[config_type] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_dept]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_dept](
	[dept_id] [bigint] IDENTITY(200,1) NOT NULL,
	[parent_id] [bigint] NULL,
	[ancestors] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[dept_name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[order_num] [int] NULL,
	[leader] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[phone] [varchar](11) COLLATE Chinese_PRC_CI_AS NULL,
	[email] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[del_flag] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_dict_data]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_dict_data](
	[dict_code] [bigint] IDENTITY(100,1) NOT NULL,
	[dict_sort] [int] NULL,
	[dict_label] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[dict_value] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[dict_type] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[css_class] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[list_class] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[is_default] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[dict_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_dict_type]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_dict_type](
	[dict_id] [bigint] IDENTITY(100,1) NOT NULL,
	[dict_name] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[dict_type] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[dict_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_job]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_job](
	[job_id] [bigint] IDENTITY(100,1) NOT NULL,
	[job_name] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[job_group] [varchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[invoke_target] [varchar](500) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[cron_expression] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[misfire_policy] [varchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[concurrent] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_job_log]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_job_log](
	[job_log_id] [bigint] IDENTITY(100,1) NOT NULL,
	[job_name] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_group] [varchar](64) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[invoke_target] [varchar](500) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[job_message] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[exception_info] [nvarchar](2000) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[job_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_logininfor]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_logininfor](
	[info_id] [bigint] IDENTITY(100,1) NOT NULL,
	[user_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ipaddr] [varchar](128) COLLATE Chinese_PRC_CI_AS NULL,
	[login_location] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[browser] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[os] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[msg] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[login_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_menu]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_menu](
	[menu_id] [bigint] IDENTITY(2000,1) NOT NULL,
	[menu_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[parent_id] [bigint] NULL,
	[order_num] [int] NULL,
	[path] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[component] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[query] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[route_name] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[is_frame] [int] NULL,
	[is_cache] [int] NULL,
	[menu_type] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[visible] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[perms] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[icon] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_notice]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_notice](
	[notice_id] [int] IDENTITY(10,1) NOT NULL,
	[notice_title] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[notice_type] [char](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[notice_content] [nvarchar](max) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[notice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_oper_log]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_oper_log](
	[oper_id] [bigint] IDENTITY(100,1) NOT NULL,
	[title] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[business_type] [int] NULL,
	[method] [varchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[request_method] [varchar](10) COLLATE Chinese_PRC_CI_AS NULL,
	[operator_type] [int] NULL,
	[oper_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[dept_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[oper_url] [varchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[oper_ip] [varchar](128) COLLATE Chinese_PRC_CI_AS NULL,
	[oper_location] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[oper_param] [varchar](2000) COLLATE Chinese_PRC_CI_AS NULL,
	[json_result] [varchar](2000) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [int] NULL,
	[error_msg] [nvarchar](2000) COLLATE Chinese_PRC_CI_AS NULL,
	[oper_time] [datetime] NULL,
	[cost_time] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[oper_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_post]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_post](
	[post_id] [bigint] IDENTITY(1,1) NOT NULL,
	[post_code] [varchar](64) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[post_name] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[post_sort] [int] NOT NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_role]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role](
	[role_id] [bigint] IDENTITY(100,1) NOT NULL,
	[role_name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[role_key] [varchar](100) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[role_sort] [int] NOT NULL,
	[data_scope] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[menu_check_strictly] [tinyint] NULL,
	[dept_check_strictly] [tinyint] NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[del_flag] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_role_dept]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role_dept](
	[role_id] [bigint] NOT NULL,
	[dept_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_role_menu]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role_menu](
	[role_id] [bigint] NOT NULL,
	[menu_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user](
	[user_id] [bigint] IDENTITY(100,1) NOT NULL,
	[dept_id] [bigint] NULL,
	[user_name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[nick_name] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[user_type] [varchar](2) COLLATE Chinese_PRC_CI_AS NULL,
	[email] [varchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[phonenumber] [varchar](11) COLLATE Chinese_PRC_CI_AS NULL,
	[sex] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[avatar] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[password] [varchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[status] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[del_flag] [char](1) COLLATE Chinese_PRC_CI_AS NULL,
	[login_ip] [varchar](128) COLLATE Chinese_PRC_CI_AS NULL,
	[login_date] [datetime] NULL,
	[pwd_update_date] [datetime] NULL,
	[create_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[create_time] [datetime] NULL,
	[update_by] [nvarchar](64) COLLATE Chinese_PRC_CI_AS NULL,
	[update_time] [datetime] NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user_post]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_post](
	[user_id] [bigint] NOT NULL,
	[post_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user_role]    Script Date: 28/11/2025 19:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_role](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sys_config] ON 

INSERT [dbo].[sys_config] ([config_id], [config_name], [config_key], [config_value], [config_type], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, N'主框架页-默认皮肤样式名称', N'sys.index.skinName', N'skin-blue', N'Y', N'admin', CAST(N'2025-11-18T23:23:05.083' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[sys_config] ([config_id], [config_name], [config_key], [config_value], [config_type], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, N'用户管理-账号初始密码', N'sys.user.initPassword', N'123456', N'Y', N'admin', CAST(N'2025-11-18T23:23:05.083' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[sys_config] ([config_id], [config_name], [config_key], [config_value], [config_type], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (3, N'主框架页-侧边栏主题', N'sys.index.sideTheme', N'theme-dark', N'Y', N'admin', CAST(N'2025-11-18T23:23:05.083' AS DateTime), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[sys_config] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_dept] ON 

INSERT [dbo].[sys_dept] ([dept_id], [parent_id], [ancestors], [dept_name], [order_num], [leader], [phone], [email], [status], [del_flag], [create_by], [create_time], [update_by], [update_time]) VALUES (100, 0, N'0', N'MES', 0, N'隔壁老王', N'15888888888', N'ry@qq.com', N'0', N'0', N'admin', CAST(N'2025-11-18T23:23:04.973' AS DateTime), N'admin', CAST(N'2025-11-24T18:31:22.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[sys_dept] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_dict_data] ON 

INSERT [dbo].[sys_dict_data] ([dict_code], [dict_sort], [dict_label], [dict_value], [dict_type], [css_class], [list_class], [is_default], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, 1, N'男', N'0', N'sys_user_sex', N'', N'', N'Y', N'0', N'admin', CAST(N'2025-11-18T23:23:05.077' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[sys_dict_data] ([dict_code], [dict_sort], [dict_label], [dict_value], [dict_type], [css_class], [list_class], [is_default], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, 2, N'女', N'1', N'sys_user_sex', N'', N'', N'N', N'0', N'admin', CAST(N'2025-11-18T23:23:05.077' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[sys_dict_data] ([dict_code], [dict_sort], [dict_label], [dict_value], [dict_type], [css_class], [list_class], [is_default], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (3, 3, N'未知', N'2', N'sys_user_sex', N'', N'', N'N', N'0', N'admin', CAST(N'2025-11-18T23:23:05.077' AS DateTime), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[sys_dict_data] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_dict_type] ON 

INSERT [dbo].[sys_dict_type] ([dict_id], [dict_name], [dict_type], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, N'用户性别', N'sys_user_sex', N'0', N'admin', CAST(N'2025-11-18T23:23:05.060' AS DateTime), N'', NULL, N'用户性别列表')
INSERT [dbo].[sys_dict_type] ([dict_id], [dict_name], [dict_type], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, N'菜单状态', N'sys_show_hide', N'0', N'admin', CAST(N'2025-11-18T23:23:05.060' AS DateTime), N'', NULL, N'菜单状态列表')
INSERT [dbo].[sys_dict_type] ([dict_id], [dict_name], [dict_type], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (3, N'系统开关', N'sys_normal_disable', N'0', N'admin', CAST(N'2025-11-18T23:23:05.060' AS DateTime), N'', NULL, N'系统开关列表')
SET IDENTITY_INSERT [dbo].[sys_dict_type] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_job] ON 

INSERT [dbo].[sys_job] ([job_id], [job_name], [job_group], [invoke_target], [cron_expression], [misfire_policy], [concurrent], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, N'系统默认（无参）', N'DEFAULT', N'ryTask.ryNoParams', N'0/10 * * * * ?', N'3', N'1', N'1', N'admin', CAST(N'2025-11-18T23:23:05.097' AS DateTime), N'', NULL, N'')
INSERT [dbo].[sys_job] ([job_id], [job_name], [job_group], [invoke_target], [cron_expression], [misfire_policy], [concurrent], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, N'系统默认（有参）', N'DEFAULT', N'ryTask.ryParams(''ry'')', N'0/15 * * * * ?', N'3', N'1', N'1', N'admin', CAST(N'2025-11-18T23:23:05.097' AS DateTime), N'', NULL, N'')
INSERT [dbo].[sys_job] ([job_id], [job_name], [job_group], [invoke_target], [cron_expression], [misfire_policy], [concurrent], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (3, N'系统默认（多参）', N'DEFAULT', N'ryTask.ryMultipleParams(''ry'', true, 2000, 316.50, 100)', N'0/20 * * * * ?', N'3', N'1', N'1', N'admin', CAST(N'2025-11-18T23:23:05.097' AS DateTime), N'', NULL, N'')
SET IDENTITY_INSERT [dbo].[sys_job] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_menu] ON 

INSERT [dbo].[sys_menu] ([menu_id], [menu_name], [parent_id], [order_num], [path], [component], [query], [route_name], [is_frame], [is_cache], [menu_type], [visible], [status], [perms], [icon], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, N'系统管理', 0, 1, N'system', NULL, N'', N'', 1, 0, N'M', N'0', N'0', N'', N'system', N'admin', CAST(N'2025-11-18T23:23:05.037' AS DateTime), N'', NULL, N'')
INSERT [dbo].[sys_menu] ([menu_id], [menu_name], [parent_id], [order_num], [path], [component], [query], [route_name], [is_frame], [is_cache], [menu_type], [visible], [status], [perms], [icon], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, N'系统监控', 0, 2, N'monitor', NULL, N'', N'', 1, 0, N'M', N'0', N'0', N'', N'monitor', N'admin', CAST(N'2025-11-18T23:23:05.037' AS DateTime), N'', NULL, N'')
INSERT [dbo].[sys_menu] ([menu_id], [menu_name], [parent_id], [order_num], [path], [component], [query], [route_name], [is_frame], [is_cache], [menu_type], [visible], [status], [perms], [icon], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (3, N'系统工具', 0, 3, N'tool', NULL, N'', N'', 1, 0, N'M', N'0', N'0', N'', N'tool', N'admin', CAST(N'2025-11-18T23:23:05.037' AS DateTime), N'', NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[sys_menu] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_oper_log] ON 

INSERT [dbo].[sys_oper_log] ([oper_id], [title], [business_type], [method], [request_method], [operator_type], [oper_name], [dept_name], [oper_url], [oper_ip], [oper_location], [oper_param], [json_result], [status], [error_msg], [oper_time], [cost_time]) VALUES (100, N'操作日志', 9, N'com.ruoyi.web.controller.monitor.SysOperlogController.clean()', N'DELETE', 1, N'admin', N'MES', N'/monitor/operlog/clean', N'127.0.0.1', N'内网IP', N'', N'{"msg":"操作成功","code":200}', 0, NULL, CAST(N'2025-11-28T19:27:03.817' AS DateTime), 33)
INSERT [dbo].[sys_oper_log] ([oper_id], [title], [business_type], [method], [request_method], [operator_type], [oper_name], [dept_name], [oper_url], [oper_ip], [oper_location], [oper_param], [json_result], [status], [error_msg], [oper_time], [cost_time]) VALUES (101, N'登录日志', 9, N'com.ruoyi.web.controller.monitor.SysLogininforController.clean()', N'DELETE', 1, N'admin', N'MES', N'/monitor/logininfor/clean', N'127.0.0.1', N'内网IP', N'', N'{"msg":"操作成功","code":200}', 0, NULL, CAST(N'2025-11-28T19:27:10.663' AS DateTime), 18)
SET IDENTITY_INSERT [dbo].[sys_oper_log] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_post] ON 

INSERT [dbo].[sys_post] ([post_id], [post_code], [post_name], [post_sort], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, N'IDL', N'工程师', 1, N'0', N'admin', CAST(N'2025-11-18T23:23:04.983' AS DateTime), N'admin', CAST(N'2025-11-27T08:11:52.677' AS DateTime), N'工程师')
INSERT [dbo].[sys_post] ([post_id], [post_code], [post_name], [post_sort], [status], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, N'DL', N'技术员', 2, N'0', N'admin', CAST(N'2025-11-18T23:23:04.983' AS DateTime), N'admin', CAST(N'2025-11-27T08:12:11.470' AS DateTime), N'技术员')
SET IDENTITY_INSERT [dbo].[sys_post] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_role] ON 

INSERT [dbo].[sys_role] ([role_id], [role_name], [role_key], [role_sort], [data_scope], [menu_check_strictly], [dept_check_strictly], [status], [del_flag], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (1, N'超级管理员', N'admin', 1, N'1', 1, 1, N'0', N'0', N'admin', CAST(N'2025-11-18T23:23:04.990' AS DateTime), N'', NULL, N'超级管理员')
INSERT [dbo].[sys_role] ([role_id], [role_name], [role_key], [role_sort], [data_scope], [menu_check_strictly], [dept_check_strictly], [status], [del_flag], [create_by], [create_time], [update_by], [update_time], [remark]) VALUES (2, N'普通角色', N'common', 2, N'2', 1, 1, N'0', N'0', N'admin', CAST(N'2025-11-18T23:23:04.990' AS DateTime), N'admin', CAST(N'2025-11-27T08:14:49.683' AS DateTime), N'普通角色')
SET IDENTITY_INSERT [dbo].[sys_role] OFF
GO
INSERT [dbo].[sys_role_dept] ([role_id], [dept_id]) VALUES (2, 100)
GO
INSERT [dbo].[sys_role_menu] ([role_id], [menu_id]) VALUES (2, 1)
INSERT [dbo].[sys_role_menu] ([role_id], [menu_id]) VALUES (2, 100)
INSERT [dbo].[sys_role_menu] ([role_id], [menu_id]) VALUES (2, 101)
GO
SET IDENTITY_INSERT [dbo].[sys_user] ON 

SET IDENTITY_INSERT [dbo].[sys_user] OFF
GO
INSERT [dbo].[sys_user_post] ([user_id], [post_id]) VALUES (1, 1)
INSERT [dbo].[sys_user_post] ([user_id], [post_id]) VALUES (100, 1)
GO
INSERT [dbo].[sys_user_role] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[sys_user_role] ([user_id], [role_id]) VALUES (100, 2)
GO
/****** Object:  Index [IX_string_tool_temp_user_id]    Script Date: 28/11/2025 19:31:26 ******/
CREATE NONCLUSTERED INDEX [IX_string_tool_temp_user_id] ON [dbo].[string_tool_temp]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_dict_type]    Script Date: 28/11/2025 19:31:26 ******/
ALTER TABLE [dbo].[sys_dict_type] ADD  CONSTRAINT [UQ_dict_type] UNIQUE NONCLUSTERED 
(
	[dict_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sys_logininfor_lt]    Script Date: 28/11/2025 19:31:26 ******/
CREATE NONCLUSTERED INDEX [idx_sys_logininfor_lt] ON [dbo].[sys_logininfor]
(
	[login_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_sys_logininfor_s]    Script Date: 28/11/2025 19:31:26 ******/
CREATE NONCLUSTERED INDEX [idx_sys_logininfor_s] ON [dbo].[sys_logininfor]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sys_oper_log_bt]    Script Date: 28/11/2025 19:31:26 ******/
CREATE NONCLUSTERED INDEX [idx_sys_oper_log_bt] ON [dbo].[sys_oper_log]
(
	[business_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sys_oper_log_ot]    Script Date: 28/11/2025 19:31:26 ******/
CREATE NONCLUSTERED INDEX [idx_sys_oper_log_ot] ON [dbo].[sys_oper_log]
(
	[oper_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sys_oper_log_s]    Script Date: 28/11/2025 19:31:26 ******/
CREATE NONCLUSTERED INDEX [idx_sys_oper_log_s] ON [dbo].[sys_oper_log]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [table_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [table_comment]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT (NULL) FOR [sub_table_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT (NULL) FOR [sub_table_fk_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [class_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('crud') FOR [tpl_category]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [tpl_web_type]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [package_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [module_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [business_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [function_name]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [function_author]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('0') FOR [gen_type]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('/') FOR [gen_path]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT (NULL) FOR [options]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[gen_table] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [table_id]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [column_name]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [column_comment]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [column_type]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [java_type]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [java_field]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_pk]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_increment]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_required]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_insert]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_edit]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_list]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [is_query]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT ('EQ') FOR [query_type]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [html_type]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT ('') FOR [dict_type]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (NULL) FOR [sort]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[gen_table_column] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT ('') FOR [config_name]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT ('') FOR [config_key]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT ('') FOR [config_value]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT ('N') FOR [config_type]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ((0)) FOR [parent_id]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ('') FOR [ancestors]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ('') FOR [dept_name]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ((0)) FOR [order_num]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT (NULL) FOR [leader]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT (NULL) FOR [phone]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ('0') FOR [del_flag]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_dept] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ((0)) FOR [dict_sort]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('') FOR [dict_label]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('') FOR [dict_value]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('') FOR [dict_type]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT (NULL) FOR [css_class]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT (NULL) FOR [list_class]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('N') FOR [is_default]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_dict_data] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT ('') FOR [dict_name]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT ('') FOR [dict_type]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_dict_type] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('') FOR [job_name]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('DEFAULT') FOR [job_group]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('') FOR [cron_expression]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('3') FOR [misfire_policy]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('1') FOR [concurrent]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_job] ADD  DEFAULT ('') FOR [remark]
GO
ALTER TABLE [dbo].[sys_job_log] ADD  DEFAULT (NULL) FOR [job_message]
GO
ALTER TABLE [dbo].[sys_job_log] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_job_log] ADD  DEFAULT ('') FOR [exception_info]
GO
ALTER TABLE [dbo].[sys_job_log] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('') FOR [user_name]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('') FOR [ipaddr]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('') FOR [login_location]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('') FOR [browser]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('') FOR [os]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT ('') FOR [msg]
GO
ALTER TABLE [dbo].[sys_logininfor] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ((0)) FOR [parent_id]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ((0)) FOR [order_num]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('') FOR [path]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT (NULL) FOR [component]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT (NULL) FOR [query]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('') FOR [route_name]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ((1)) FOR [is_frame]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ((0)) FOR [is_cache]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('') FOR [menu_type]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('0') FOR [visible]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT (NULL) FOR [perms]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('#') FOR [icon]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_menu] ADD  DEFAULT ('') FOR [remark]
GO
ALTER TABLE [dbo].[sys_notice] ADD  DEFAULT (NULL) FOR [notice_content]
GO
ALTER TABLE [dbo].[sys_notice] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_notice] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_notice] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_notice] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_notice] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [title]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ((0)) FOR [business_type]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [method]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [request_method]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ((0)) FOR [operator_type]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [oper_name]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [dept_name]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [oper_url]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [oper_ip]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [oper_location]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [oper_param]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [json_result]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ('') FOR [error_msg]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT (getdate()) FOR [oper_time]
GO
ALTER TABLE [dbo].[sys_oper_log] ADD  DEFAULT ((0)) FOR [cost_time]
GO
ALTER TABLE [dbo].[sys_post] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_post] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_post] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_post] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT ('1') FOR [data_scope]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT ((1)) FOR [menu_check_strictly]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT ((1)) FOR [dept_check_strictly]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT ('0') FOR [del_flag]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_role] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT (NULL) FOR [dept_id]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('00') FOR [user_type]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [phonenumber]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('0') FOR [sex]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [avatar]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [password]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('0') FOR [del_flag]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [login_ip]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT (getdate()) FOR [login_date]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT (getdate()) FOR [pwd_update_date]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [create_by]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT ('') FOR [update_by]
GO
ALTER TABLE [dbo].[sys_user] ADD  DEFAULT (NULL) FOR [remark]
GO
ALTER TABLE [dbo].[QRTZ_BLOB_TRIGGERS]  WITH CHECK ADD FOREIGN KEY([sched_name], [trigger_name], [trigger_group])
REFERENCES [dbo].[QRTZ_TRIGGERS] ([sched_name], [trigger_name], [trigger_group])
GO
ALTER TABLE [dbo].[QRTZ_CRON_TRIGGERS]  WITH CHECK ADD FOREIGN KEY([sched_name], [trigger_name], [trigger_group])
REFERENCES [dbo].[QRTZ_TRIGGERS] ([sched_name], [trigger_name], [trigger_group])
GO
ALTER TABLE [dbo].[QRTZ_SIMPLE_TRIGGERS]  WITH CHECK ADD FOREIGN KEY([sched_name], [trigger_name], [trigger_group])
REFERENCES [dbo].[QRTZ_TRIGGERS] ([sched_name], [trigger_name], [trigger_group])
GO
ALTER TABLE [dbo].[QRTZ_SIMPROP_TRIGGERS]  WITH CHECK ADD FOREIGN KEY([sched_name], [trigger_name], [trigger_group])
REFERENCES [dbo].[QRTZ_TRIGGERS] ([sched_name], [trigger_name], [trigger_group])
GO
ALTER TABLE [dbo].[QRTZ_TRIGGERS]  WITH CHECK ADD FOREIGN KEY([sched_name], [job_name], [job_group])
REFERENCES [dbo].[QRTZ_JOB_DETAILS] ([sched_name], [job_name], [job_group])
GO
USE [master]
GO
