USE [master]
GO
/****** Object:  Database [PCA]    Script Date: 07/12/2025 04:21:22 ******/
CREATE DATABASE [PCA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\PCA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\PCA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Chinese_Taiwan_Stroke_BIN
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCA]
GO
/****** Object:  User [root]    Script Date: 07/12/2025 04:21:22 ******/
CREATE USER [root] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-MB1U8GK\aministrator]    Script Date: 07/12/2025 04:21:22 ******/
CREATE USER [DESKTOP-MB1U8GK\aministrator] FOR LOGIN [DESKTOP-MB1U8GK\aministrator] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[PCA_SFC]    Script Date: 07/12/2025 04:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCA_SFC](
	[Model] [char](12) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[FType] [varchar](2) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Flow] [varchar](255) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[CFlow] [varchar](4000) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[Editor] [char](7) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Cdt] [datetime] NOT NULL,
	[Udt] [datetime] NOT NULL,
	[Sample] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCA_SNO]    Script Date: 07/12/2025 04:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCA_SNO](
	[SnoId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[McbSno] [char](11) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[WkNo] [varchar](20) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Model] [char](12) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[SWC] [varchar](40) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[PdLine] [char](3) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[WC] [char](2) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Rev] [varchar](5) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[PCB] [varchar](5) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[IsPass] [varchar](2) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[NWC] [varchar](2) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Status] [varchar](5) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[PenNo] [varchar](20) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Cdt] [datetime] NOT NULL,
	[Udt] [datetime] NOT NULL,
	[MIS_ID] [varchar](50) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
 CONSTRAINT [PK_PCA_SNO] PRIMARY KEY CLUSTERED 
(
	[SnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCA_WC_CHANGE_LOG]    Script Date: 07/12/2025 04:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCA_WC_CHANGE_LOG](
	[SnoId] [int] NOT NULL,
	[McbSno] [char](10) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Original_WC] [char](2) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Dest_WC] [char](2) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Reason] [nvarchar](255) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Creator] [char](20) COLLATE Chinese_Taiwan_Stroke_BIN NOT NULL,
	[Cdt] [datetime] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_PCA_WC_CHANGE_LOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WC]    Script Date: 07/12/2025 04:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WC](
	[WC] [varchar](10) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[Description] [varchar](100) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[Cdt] [datetime] NULL,
	[Udt] [datetime] NULL,
	[Id] [int] NULL,
	[RepStation] [char](2) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[Attribute] [char](1) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[WCTYPE] [char](1) COLLATE Chinese_Taiwan_Stroke_BIN NULL,
	[IsWaiver] [char](1) COLLATE Chinese_Taiwan_Stroke_BIN NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PCA_SFC] ([Model], [FType], [Flow], [CFlow], [Editor], [Cdt], [Udt], [Sample]) VALUES (N'1395T3801601', N'0', N'02/0B/03/0G/05/04/S5/1Y/09/0A/10/12/S8/1W/15/19/SW/24/25/SD', N'CARTON-CHECK=~', N'FISAuto', CAST(N'2025-12-03T21:19:20.620' AS DateTime), CAST(N'2025-12-03T21:19:20.620' AS DateTime), 0)
INSERT [dbo].[PCA_SFC] ([Model], [FType], [Flow], [CFlow], [Editor], [Cdt], [Udt], [Sample]) VALUES (N'1395T3769101', N'0', N'0G/05/04/02/0B/03/0A/S8/SW/24/25/SD', N'CARTON-CHECK=~', N'FISAuto', CAST(N'2025-12-02T10:19:02.393' AS DateTime), CAST(N'2025-12-02T11:11:05.670' AS DateTime), 0)
INSERT [dbo].[PCA_SFC] ([Model], [FType], [Flow], [CFlow], [Editor], [Cdt], [Udt], [Sample]) VALUES (N'1395T3769301', N'0', N'02/0B/03/0G/05/04/S5/1Y/09/0A/S8/19/24/25/SD', N'CARTON-CHECK=~', N'FISAuto', CAST(N'2025-11-28T19:05:24.437' AS DateTime), CAST(N'2025-11-28T19:06:19.077' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[PCA_SNO] ON 

INSERT [dbo].[PCA_SNO] ([SnoId], [McbSno], [WkNo], [Model], [SWC], [PdLine], [WC], [Rev], [PCB], [IsPass], [NWC], [Status], [PenNo], [Cdt], [Udt], [MIS_ID]) VALUES (1, N'QB99NC3292 ', N'100018250582-00', N'1395T2824211', N'0000000000000000000000000000000000000000', N'P36', N'CC', N'C01', N'G01', N'1', N'01', N'1', N'IPT-PEN-G0-399', CAST(N'2025-11-25T17:08:29.610' AS DateTime), CAST(N'2025-12-06T23:11:02.330' AS DateTime), N'')
INSERT [dbo].[PCA_SNO] ([SnoId], [McbSno], [WkNo], [Model], [SWC], [PdLine], [WC], [Rev], [PCB], [IsPass], [NWC], [Status], [PenNo], [Cdt], [Udt], [MIS_ID]) VALUES (2, N'QB99NC3291 ', N'100017149845-00', N'1395T2824211', N'0000000000000000000000000000000000000000', N'P34', N'CC', N'C01', N'G01', N'1', N'01', N'1', N'IPT-PEN-G0-317', CAST(N'2025-11-25T16:58:19.563' AS DateTime), CAST(N'2025-12-06T23:11:02.343' AS DateTime), N'')
INSERT [dbo].[PCA_SNO] ([SnoId], [McbSno], [WkNo], [Model], [SWC], [PdLine], [WC], [Rev], [PCB], [IsPass], [NWC], [Status], [PenNo], [Cdt], [Udt], [MIS_ID]) VALUES (3, N'UZ5BPP2851 ', N'100031128159-00', N'1395T3368201', N'0000000000000000000000000000000000000000', N'W21', N'01', N'', N'', N'1', N'02', N'1', N'', CAST(N'2025-11-25T13:20:47.450' AS DateTime), CAST(N'2025-11-25T13:20:47.450' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[PCA_SNO] OFF
GO
SET IDENTITY_INSERT [dbo].[PCA_WC_CHANGE_LOG] ON 

INSERT [dbo].[PCA_WC_CHANGE_LOG] ([SnoId], [McbSno], [Original_WC], [Dest_WC], [Reason], [Creator], [Cdt], [Id]) VALUES (113250989, N'OJ5BRP1940', N'19', N'S8', N'外观不良，需要跳站至FA', N'2251688             ', CAST(N'2025-11-25T12:43:09.327' AS DateTime), 2)
INSERT [dbo].[PCA_WC_CHANGE_LOG] ([SnoId], [McbSno], [Original_WC], [Dest_WC], [Reason], [Creator], [Cdt], [Id]) VALUES (113266709, N'UZ5BPP2760', N'19', N'S8', N'外观不良送修', N'11DN145             ', CAST(N'2025-11-25T01:53:19.910' AS DateTime), 3)
INSERT [dbo].[PCA_WC_CHANGE_LOG] ([SnoId], [McbSno], [Original_WC], [Dest_WC], [Reason], [Creator], [Cdt], [Id]) VALUES (113266603, N'UZ5BPP2654', N'SW', N'S8', N'外观不良送修', N'11DN145             ', CAST(N'2025-11-25T01:53:19.893' AS DateTime), 4)
GO
SET IDENTITY_INSERT [dbo].[PCA_WC_CHANGE_LOG] OFF
GO
INSERT [dbo].[WC] ([WC], [Description], [Cdt], [Udt], [Id], [RepStation], [Attribute], [WCTYPE], [IsWaiver]) VALUES (N'29', N'HP FOQM', CAST(N'2009-11-25T18:58:00.670' AS DateTime), CAST(N'2009-11-25T18:58:00.670' AS DateTime), 2, N'0R', N'F', N'N', N'Y')
INSERT [dbo].[WC] ([WC], [Description], [Cdt], [Udt], [Id], [RepStation], [Attribute], [WCTYPE], [IsWaiver]) VALUES (N'03', N'PRI1(Side2)          ', CAST(N'2003-10-30T14:46:32.247' AS DateTime), CAST(N'2003-10-30T14:46:32.247' AS DateTime), 4, N'R2', N'V', N'N', N'Y')
INSERT [dbo].[WC] ([WC], [Description], [Cdt], [Udt], [Id], [RepStation], [Attribute], [WCTYPE], [IsWaiver]) VALUES (N'04', N'PRI2(Side1)         ', CAST(N'2004-04-19T00:00:00.000' AS DateTime), CAST(N'2004-04-19T00:00:00.000' AS DateTime), 5, N'R5', N'V', N'N', N'Y')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_PCA_SFC]    Script Date: 07/12/2025 04:21:22 ******/
ALTER TABLE [dbo].[PCA_SFC] ADD  CONSTRAINT [PK_PCA_SFC] PRIMARY KEY NONCLUSTERED 
(
	[Model] ASC,
	[FType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PCA_SNO_McbSno]    Script Date: 07/12/2025 04:21:22 ******/
CREATE NONCLUSTERED INDEX [IX_PCA_SNO_McbSno] ON [dbo].[PCA_SNO]
(
	[McbSno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PCA_SNO] ADD  CONSTRAINT [DF_PCA_SNO_Rev]  DEFAULT ('') FOR [Rev]
GO
ALTER TABLE [dbo].[PCA_SNO] ADD  CONSTRAINT [DF_PCA_SNO_PCB]  DEFAULT ('') FOR [PCB]
GO
ALTER TABLE [dbo].[PCA_SNO] ADD  CONSTRAINT [DF_PCA_SNO_IsPass]  DEFAULT ('') FOR [IsPass]
GO
ALTER TABLE [dbo].[PCA_SNO] ADD  CONSTRAINT [DF_PCA_SNO_NWC]  DEFAULT ('') FOR [NWC]
GO
ALTER TABLE [dbo].[PCA_SNO] ADD  CONSTRAINT [DF_PCA_SNO_Status]  DEFAULT ('') FOR [Status]
GO
ALTER TABLE [dbo].[PCA_SNO] ADD  CONSTRAINT [DF_PCA_SNO_PenNo]  DEFAULT ('') FOR [PenNo]
GO
EXEC [PCA].sys.sp_addextendedproperty @name=N'N', @value=NULL 
GO
USE [master]
GO
